@font-face {
    font-family: "Aleo";
    src: url('../fonts/aleo.woff2') format('woff2');
         url('../fonts/aleo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/lato.woff2') format('woff2');
         url('../fonts/lato.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background: lightgray;
    justify-content: center;
    align-items: center;
    font-family: Lato;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: #FFFFFF;
    height: 1000px;
    width: 1000px;
    margin: 30px;
}

.left_side {
    background: rgba(0, 0, 0, 0.9);
    padding: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    color: white;
}

.profile {
    width: 200px;
    height: 200px;
    color: white;
}

.profile_photo {
    border: 2px solid white;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-left: 30px;
}

.profile_photo img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

h1 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-family: Aleo;
}

.space {
    height: 200px;
    width: 100%;
    background: gray;
}

.experience, .education, .skills {
    margin: 20px;
}

.title {
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    background: gray;
    font-weight: normal;
    font-family: Aleo;
    padding: 10px;
}

.company, .course, .skills {
    font-family: Lato;
    margin: 10px 10px 30px;
}

.company h3, .course h3 {
    font-size: 17px;
    margin-bottom: 10px;
}

.position, .institute {
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.contact_info {
    margin-top: -100px;
}

.info ul li, .contact_info ul {
    list-style: none;
    font-family: Lato;
    font-size: 15px;
}

.contact_info ul li {
    margin-left: 5px;
}

.contact_info h3 {
    background: white;
    color:rgba(0, 0, 0, 0.9);
    font-family: Aleo;
    font-size: 17px;
    margin-bottom: 10px;
    padding: 5px;
}

.flexbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10px;
}

.flexbox span {
    margin-top: 10px;
    font-weight: bold;
}

.flexbox .level {
    width: 70%;
    height: 10px;
    background: lightgray;
    border-radius: 10px;
}

.flexbox .level > div {
    background: #FFF44F;
    height: 100%;
    width: 30%;
    border-radius: inherit;
}